.active {
  border-bottom: 3px solid #7c3bb7;
}

iframe {
  width: 100%;
  height: 50vh;
}

nav {
  z-index: 2;
  height: 100%;
}

a.navbar-brand {
  margin: 0;
  width: 50%;
}

.navbar {
  background-color: #fff;
}

.bg-main {
  background-color: #f1f4fd;
}

.btn-main {
  background-color: #7c3bb7;
}

/* Navigation */
.navbar {
  height: 10vh;
}

.navbar-brand img {
  width: 30%;
}

/* Index Page */
.banner {
  height: 90vh;
  transform: translateY(100px);
}

.mainSectionContainer {
  height: 100%;
}

.secondSectionContainer {
  height: 50vh;
}

.servisSection {
  height: 50vh;
}

.servisImg {
  transform: translateY(80px);
}

a {
  text-decoration: none;
}

.btn {
  border: none;
}

.btn:hover {
  background-color: #9a49e5;
}

.savjetiPad {
  transform: translateY(50px);
}

.galerijaPad {
  transform: translateY(30px);
}

.onamaPad {
  transform: translateY(35px);
}

ul {
  padding-left: 0;
}

ul li {
  list-style: none;
}

.colWidth {
  width: 70vw;
}

.colMar {
  margin: 50px 100px;
}

.kontaktPad {
  height: 100%;
}

.kontaktOff {
  transform: translateY(-40px);
}

.galerijaOff {
  transform: translateY(-85px);
}

.savjetiOff {
  transform: translateY(-30px);
}

.savjetiDetaljnijeOff {
  transform: translateY(-75px);
}

.card {
  width: 45vw;
  margin: 0 auto;
}

/* Mobile Code */
@media screen and (max-width: 768px) {
  .colMar {
    margin: 20px 15px;
  }

  .colWidth {
    width: 100%;
  }

  .phoneImage {
    width: 100%;
  }

  .kontaktPad {
    height: 100%;
  }

  .onamaImage {
    width: 100%;
  }

  .secondSectionContainer {
    height: 25vh;
  }

  .galerijaOff {
    width: 100%;
    transform: translateY(-25px);
  }

  .servisImage {
    width: 100%;
    transform: translateY(-20px);
  }

  .savjetiOff {
    width: 100%;
    transform: translateY(-15px);
  }

  .card {
    width: 100%;
  }

  .savjetiDetaljnijeOff {
    width: 100%;
    transform: translateY(-30px);
  }

  .imagePlaceholder {
    width: 100%;
  }

  .servisImg {
    width: 100%;
    transform: translateY(40px);
  }

  .savjetiPad {
    width: 100%;
  }

  .galerijaPad {
    width: 100%;
  }

  .onamaPad {
    width: 100%;
  }

  .banner {
    height: 100%;
    width: 100%;
    transform: translateY(0px);
  }

  .mainSectionContainer {
    height: 100%;
    width: 100%;
  }

  .navbar-brand img {
    width: 100%;
  }

  iframe {
    height: 30vh;
  }
}
